{% extends 'base.html' %}
{% load static %}

{% block title %}
Inicio | Mia Car Wash
{% endblock %}

{% block content %}

<!-- ========================================
     HERO
========================================= -->

<section class="hero-section">

    <div class="hero-overlay"></div>

    <div class="container hero-content">

        <div class="row align-items-center min-vh-100">

            <div class="col-lg-7">

                <span class="hero-badge">
                    Cuidado profesional para tu vehículo
                </span>

                <h1 class="hero-title">
                    TU AUTO MERECE
                    <span>VERSE IMPECABLE</span>
                </h1>

                <p class="hero-text">
                    Lavado, limpieza y cuidado automotriz con atención rápida,
                    productos de calidad y un acabado que se nota.
                </p>

                <div class="hero-buttons">

                    <a href="#reservar"
                       class="btn btn-primary btn-lg">

                        <i class="fa-solid fa-calendar-check me-2"></i>
                        Reservar ahora

                    </a>

                    <a href="#servicios"
                       class="btn btn-outline-light btn-lg">

                        <i class="fa-solid fa-car-side me-2"></i>
                        Ver servicios

                    </a>

                </div>

                <div class="hero-benefits">

                    <div>
                        <i class="fa-solid fa-circle-check"></i>
                        Atención rápida
                    </div>

                    <div>
                        <i class="fa-solid fa-circle-check"></i>
                        Personal capacitado
                    </div>

                    <div>
                        <i class="fa-solid fa-circle-check"></i>
                        Yape, Plin y efectivo
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


https://carwash-l5v0.onrender.com/

{% endblock %}