# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log

# Variables privadas
.env
.env.*

# Archivos generados
staticfiles/
media/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Certificados SUNAT
*.pem
*.key
*.p12
*.pfx
certificados/